---
import { Image } from "astro:assets";

interface Props {
  href?: string;
  image?: {
    src: any;
    alt: string;
  };
  alt?: string;
  tags?: string[];
  label?: string;
  variant?: string;
}

const { href, image, tags, label, variant = "filled" } = Astro.props;
---

<div class:list={["card-container", { "with-link": href }]}>
  {href && <a href={href} class="card-link" />}
  <div class:list={["card", variant || "filled"]}>
    <div class="card-header">
      <slot name="title" />
      {label && <p class="label">{label}</p>}
    </div>
    {
      image && (
        <Image src={image.src} class="card-image" alt={image.alt} inferSize />
      )
    }
    {
      tags && (
        <div class="tags">
          {tags.map((tag) => (
            <p class="tag">{tag}</p>
          ))}
        </div>
      )
    }
    <slot name="description" />
  </div>
</div>

<style>
  .card-container {
    position: relative;
    contain: content;
  }

  .card {
    color: #f8f5ed;
    box-sizing: border-box;
    padding: 0.8rem;
    width: 100%;
    height: 100%;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    border: solid rgb(71, 209, 175) 1px;
    background-color: #19150a;
  }

  .card.outlined {
    background-color: transparent;
    color: #19150a;
    border-color: #19150a;
  }

  .card-link {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .card-header {
    display: flex;
    gap: 0.8rem;
    align-items: center;
  }

  .card-image {
    width: 100%;
    height: auto;
  }

  .card-buttons {
    display: flex;
    justify-content: space-between;
  }

  .card-buttons button {
    width: 100%;
  }

  .label {
    padding: 0.2rem 0.5rem 0.2rem 0.5rem;
    background-color: rgb(71, 209, 175);
    width: fit-content;
    color: #19150a;
    text-transform: uppercase;
    font-size: 0.8rem;
    border-radius: 1rem;
    text-align: center;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    flex-grow: 1;
    align-items: start;
  }

  .tag {
    background-color: transparent;
    color: #f8f5ed;
    padding: 0.2rem 0.5rem 0.2rem 0.5rem;
    border-radius: 1rem;
    border: rgb(71, 209, 175) solid 1px;
    height: fit-content;
  }

  .card-container.with-link:hover {
    box-shadow: 0 0 0.5rem 0.1rem rgb(71, 209, 175);
  }
</style>
